<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header class="topbar" th:fragment="topbar">
    <nav>
        <a th:href="@{/jobs}">Jobs</a>
        <a th:href="@{/board}">Board</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/users}">Users</a>
    </nav>
    <div class="right">
        <a th:href="@{/profile}">Profile</a>
        <form th:action="@{/user/logout}" method="post" style="margin:0;">
            <button class="btn small secondary" type="submit">Sign out</button>
        </form>
    </div>
</header>
</body>
</html>
